
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
   color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 33px;
    box-shadow: 0px 1px 5px 0px  rgb(252, 252, 252);
}
.logo h1{
    font-size: 37px;
    color: rgb(255, 106, 0);
    margin-top: -2px;
    box-shadow: 10PX 10PX 10PX;
}
.icon{
    margin-left: -11px;
}
.icon i{
    font-size: 22px;
    margin-inline: 8px;
    background-color: #fff;
    color: black;
    padding: 9px;
    border-radius: 2px;
}
.icon i:hover{
    color: rgb(255, 98, 0);
    cursor: pointer;
}
nav input{
    width: 600px;
    padding: 11px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 2px;
}
.input i{
    margin-left: -28px;
    color: black;
    font-size: 20px;
}

.main{
    display: flex;
    justify-content: space-around;
}
.main img{
    width: 33%;
    margin-top: 33px;
    box-shadow: 2PX 7PX 10PX ;
}
.main .text{
    width: 500px;
    margin-top: 62px;
}
.text h1{
    font-size: 66px;
}
.text p{
    color: #f6f5f5;
    margin-top: 22px;
}
.text button{
    margin-top: 24px;
    border: none;
    outline: none;
    background-color: rgb(255, 119, 0);
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 160px;
    height: 40px;
}
.crd{
    display: flex;
    /* justify-content: center; */
    margin-left: 115px;
    color: black;
}
.crd .card {
    width: 300px;
    background-color: #fff;
    border-radius: 4px;
    padding: 11px;
    color: black;
    margin-inline: 11px;
    margin-top: 84px;

}



.card img{
    width: 100%;
}
.card h2{
    margin-top: 12px;
}

.card p{
    margin-top: 12px;
}

.card button{
    margin-top: 25px;
    border: none;
    outline: none;
    background-color: rgb(255, 119, 0);
    color: white;
    border-radius: 2px;
    font-size: 22px;
    width: 140px;
    height: 38px;
}

.blog{
    width: 300px;
    height: 370px;
    background-color: #fff;
    border-radius: 4px;
    padding: 11px;
    color: black;
    margin-inline: 11px;
    margin-top: 84px;
}
.blog h2{
    margin-top: 12px;
}
.blog p{
    margin-top: 12px;
}
.blog a{
    position: relative;
    top: 32px;
    width: 160px;
    padding: 10px;
    background-color: rgb(255, 106, 0);
    color: white;
    font-size: 20px;
    border-radius: 2px;
}
.blog img{
    width: 100%;
}
.review{
    position: relative;
    display: flex;
    overflow: hidden;
    margin: auto;
    width: 800px;
    height: 400px;
    margin-top: 63px;
}
.review .customer{
    position: absolute;
     width: 100%;
     height: 70%;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 11px;
    transition: 0.5s ease;
     

}
.customer img{
    width: 33%;
    border-radius: 50%;
}
.customer i{
    font-size: 22px;
    color: rgb(255, 132, 0);
    margin-top: 11px;
}
.head h1{
    text-align: center;
    font-size: 44px;
    margin-top: 53px;
    margin-left: 22px;
}
.head span{
    color: rgb(255, 119, 0);
}
.btn{
    text-align: center;
}
.btn button{
    width: 140px;
    height: 38px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-size: 20px;
    margin-inline: 11px;
    background-color: rgb(255, 111, 0);
}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 55px;
    margin-top: 77px;
    
}
.footer .txt{
    color: black;
}
.txt p{
    margin-top: 12px;
}

/* Login */

.login{
    display: none;
    position: absolute;
    margin-left: 80%;
    width: 200px;
    padding: 22px;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    margin-top: 6px;
}
.login h2{
    color: black;
}
.login input{
    border: none;
    border-bottom: 2px solid black;
    width: 160px;
    font-size: 18px;
    padding: 8px;
    margin-top: 13px;
}
.login button{
    width: 140px;
    height: 35px;
    border: none;
    outline: none;
    background-color: rgb(255, 111, 0);
    color: white;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 22px;
}
/* nav */

.nav{
    display: none;
    position: absolute;
    margin-left: 82%;
    width: 160px;
    padding: 22px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 6px;   
}
.nav P{
    width: 110px;
    color: black;
    margin-left: 20%;
    padding: 11px;
    border-radius: 4px;
}
.nav p:hover{
    background-color: #f1efef;
    color: rgb(255, 111, 0);
    cursor: pointer;
    
}

.written{
  font-size: 50px;
  text-align: center;
 margin-bottom: -20px;
 margin-top: 40px;
color: rgb(255, 0, 0);
font-style: oblique;
font-weight: bolder;
text-overflow: ellipsis;
text-decoration: line-through;
}

video{
     /* text-align: center;
    padding-left: 480px;
    margin-top: 30px;
    width: -870px;
   display: flex;
   height: 700px;
   padding-top: -270px;
     */
   width: 300px;
   height: -350px;
   margin-top: 30px;
   padding-left: 300px;
   padding-bottom: -888px;
   
    /* margin-top: -360px;
    margin-top:-290px ;
    padding-left: 220px;
   width: 970px;
   height: 600px;
    background-color: rgb(228, 226, 226);  
   padding-right: 220px;
   padding-bottom: 70px; 
    */
   
       }
       .imgg{


      
        padding: 500px;
       /* margin: -400px; */
    margin-block-start: -1780px;
    margin-top: -1260PX;
    width:40PX;
   
     
   
    
       }

       .features{
        margin-top: 90px;
        display: flex;
        gap: 20px;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
       
    
    }
    .feature img{


        width: 572px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    
    
    .feature:hover{
    
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px  rgba(1, 1, 1, 0.05);
    
    }



    .grid-image{

        border-radius: 10px;
        transition: 0.2s ease-in-out;
        width: 100%;
        height: 100%;


        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
        
        }
        
        .grid-image:hover{
         transform: scale(1.05);
         transition: 0.2s ease-in-out;
        
        }
        .grid{
          display: grid;
          gap: 10px;
          grid-template-areas:
          "I1 I1 I2 I3"
          "I1 I1 I2 I7"
          "I4 I5 I6 I7"
        "I8  I8 I9 I9";
        }
        
        .item1 {
        
            grid-area: I1;
        
            
        }
        .item2 {
        
            grid-area: I2;
        }
        .item3 {
        
            grid-area: I3;
        }
        .item4 {
        
            grid-area: I4;
        }
        .item5 {
        
            grid-area: I5;
        }
        .item6 {
        
            grid-area: I6;
        }
        .item7 {
        
            grid-area: I7;
        }
        .item8 {
        
            grid-area: I8;
        }



           .nav{


               
            z-index: 999;
            background-color:rgba(253, 253, 253, 0.155);
        backdrop-filter: blur(10px);
         box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1); 
       
         display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    

           }
           .Location{
          padding-left: 320px;
          margin-top: -100px;
         
        


           }
           h6{
           font-style: oblique;
           font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           font-size: 30px;
          color: mediumaquamarine;
          text-decoration: underline;
         margin-top: 13px;
      
           }
         h4{

            padding-right: 140px;
            color: rgb(0, 0, 0);
            padding-left: 80px;
            margin-block-start: -40px;
            font-style: oblique;
            font-weight: 2000;
            font-size: 22px;
            text-decoration: dashed;
            color: rgb(0, 0, 0);
            rotate: y 45deg;
            text-decoration: underline;
            margin-block-start: -12px;
            
         }
         .txt{
          

           
           
            font-style: oblique;
            font-weight: 2000;
            font-size: 20px;
            
        
           

         }
         li{

            margin-top: 60px;
            text-decoration: none;
            gap: none;
         }
     
           .form{
           margin-top: 10px;


           }
           .btn{
            text-align: center;
        }
        .btn button{
            width: 140px;
            height: 38px;
            border: none;
            outline: none;
            border-radius: 3px;
            color: white;
            font-size: 20px;
            margin-inline: 11px;
            background-color: rgb(255, 111, 0);
        }
        .footer_txt{

            background: #e0e3e3;
            padding: 1.1em 0;
            text-align: center;
            box-shadow: -5px -0 2px rgba(0, 0, 0,0.5);

        }
         
        .pic:hover{
            transform: scale(1.05);
            transition: 0.2s ease-in-out;
         
           }
        
           /* h2:hover{

            transform: scale(1.05);
            transition: 0.2s ease-in-out;
           } */

           .Text{

            font-size: 117px;
            font-family: Arial, Helvetica, sans-serif;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: rgb(255, 0, 0);

           }
        